{{#modal-dialog overlay-class="modal-overlay" container-class="modal-container" close="cancel"}}

  <div class="modal-overlay">
    <img class="modal-graphic" src="images/icon-rocket.svg"/>
  </div>

  <img class="graphic-modal-close" src="images/icon-close-white.svg"  {{action "cancel"}}/>

{{/modal-dialog}}
