<div class="icons">
  <div class="icon-container">
    <img class="icon" src="images/icon-data.svg"/>
    <span class="icon-title">Title</span>
  </div>
  <div class="icon-container">
    <img class="icon" src="images/icon-growth.svg"/>
    <span class="icon-title">Title</span>
  </div>
  <div class="icon-container">
    <img class="icon" src="images/icon-handshake.svg"/>
    <span class="icon-title">Title</span>
  </div>
  <div class="icon-container">
    <img class="icon" src="images/icon-mobiledev.svg"/>
    <span class="icon-title">Title</span>
  </div>
  <div class="icon-container">
    <img class="icon" src="images/icon-penandpaper.svg"/>
    <span class="icon-title">Title</span>
  </div>
  <div class="icon-container">
    <img class="icon" src="images/icon-performance.svg"/>
    <span class="icon-title">Title</span>
  </div>
  <div class="icon-container">
    <img class="icon" src="images/icon-presentation.svg"/>
    <span class="icon-title">Title</span>
  </div>
  <div class="icon-container">
    <img class="icon" src="images/icon-rocket.svg"/>
    <span class="icon-title">Title</span>
  </div>
  <div class="icon-container">
    <img class="icon" src="images/icon-scale.svg"/>
    <span class="icon-title">Title</span>
  </div>
  <div class="icon-container">
    <img class="icon" src="images/icon-tap.svg"/>
    <span class="icon-title">Title</span>
  </div>
</div>
