<div class="icons">
  <div class="icon-container">
    <a href="#1">
      <img class="icon" src="images/icon-data.svg"/>
      Ember for Enterprise
    </a>
  </div>
  <div class="icon-container">
    <a href="#2">
      <img class="icon" src="images/icon-tap.svg"/>
      Progressive Web Apps
    </a>
  </div>
  <div class="icon-container">
    <a href="#3">
      <img class="icon" src="images/icon-handshake.svg"/>
      Build PWAs with Ember
    </a>
  </div>
  <div class="icon-container">
    <a href="#4">
      <img class="icon" src="images/icon-mobiledev.svg"/>
      Training and Onboarding
    </a>
  </div>
  <div class="icon-container">
    <a href="#5">
      <img class="icon" src="images/icon-penandpaper.svg"/>
      Stability without Stagnation
    </a>
  </div>
  <div class="icon-container">
    <a href="#6">
      <img class="icon" src="images/icon-peoplecycle.svg"/>
      Open Governance
    </a>
  </div>
  <div class="icon-container">
    <a href="#7">
      <img class="icon" src="images/icon-performance.svg"/>
      Incremental Adoption
    </a>
  </div>
  <div class="icon-container">
    <a href="#8">
      <img class="icon" src="images/icon-presentation.svg"/>
      Enthusiastic Community
    </a>
  </div>
  <div class="icon-container">
    <a href="#9">
      <img class="icon" src="images/icon-rocket.svg"/>
      Expertise on Demand
    </a>
  </div>
  <div class="icon-container">
    <a href="#10">
      <img class="icon" src="images/icon-scale.svg"/>
      Evaluation
    </a>
  </div>
</div>
