<div class="icons">
  <div class="icon-container">
    <img class="icon" src="images/icon-timer.svg"/>
    <span class="icon-title">Title</span>
  </div>
  <div class="icon-container">
    <img class="icon" src="images/icon-timer.svg"/>
    <span class="icon-title">Title</span>
  </div>
  <div class="icon-container">
    <img class="icon" src="images/icon-timer.svg"/>
    <span class="icon-title">Title</span>
  </div>
  <div class="icon-container">
    <img class="icon" src="images/icon-timer.svg"/>
    <span class="icon-title">Title</span>
  </div>
  <div class="icon-container">
    <img class="icon" src="images/icon-timer.svg"/>
    <span class="icon-title">Title</span>
  </div>
  <div class="icon-container">
    <img class="icon" src="images/icon-timer.svg"/>
    <span class="icon-title">Title</span>
  </div>
</div>
