<div class="icons">
  <div class="icon-container">
    <a href="#1">
      <img class="icon" src="images/icon-rocket.svg"/>
      <span>Take Advantage of the Web</span>
    </a>
  </div>
  <div class="icon-container">
    <a href="#2">
      <img class="icon" src="images/icon-tap.svg"/>
      <span>Progressive Web Apps</span>
    </a>
  </div>
  <div class="icon-container">
    <a href="#3">
      <img class="icon" src="images/icon-performance.svg"/>
      <span>Build PWAs with Ember</span>
    </a>
  </div>
  <div class="icon-container">
    <a href="#4">
      <img class="icon" src="images/icon-peoplecycle.svg"/>
      <span>Training and Onboarding</span>
    </a>
  </div>
  <div class="icon-container">
    <a href="#5">
      <img class="icon" src="images/icon-mobiledev.svg"/>
      <span>Stability without Stagnation</span>
    </a>
  </div>
  <div class="icon-container">
    <a href="#6">
      <img class="icon" src="images/icon-penandpaper.svg"/>
      <span>Open Governance</span>
    </a>
  </div>
  <div class="icon-container">
    <a href="#7">
      <img class="icon" src="images/icon-data.svg"/>
      <span>Incremental Adoption</span>
    </a>
  </div>
  <div class="icon-container">
    <a href="#8">
      <img class="icon" src="images/icon-presentation.svg"/>
      <span>Enthusiastic Community</span>
    </a>
  </div>
  <div class="icon-container">
    <a href="#9">
      <img class="icon" src="images/icon-handshake.svg"/>
      <span>Expertise on Demand</span>
    </a>
  </div>
  <div class="icon-container">
    <a href="#10">
      <img class="icon" src="images/icon-scale.svg"/>
      <span>Evaluation</span>
    </a>
  </div>
</div>
