<div class="text-component">
  <div class="component-graphic">
    <img class="graphic" src="images/icon-handshake.svg" {{action "expandGraphic"}}/>
  </div>
  <div class="component-info">
    <div class="component-title">
      <span>Expertise on Demand</span>
    </div>
    <div class="component-overview">
      <p>
        The consultant community around a technology should also be of high consideration to enterprise because outside consultants know exactly how to apply a technology to provide solutions for an organization. These consultants are on the bleeding edge of the technology and have the ability to decipher and apply the latest features.
      </p>
      <p>
        Consultants are the most proficient developers in their areas of expertise. When bringing on consultants to projects an organization should hope that they can be immediately productive. However, no matter how expert the consultant is or how big the consulting community is around a technology, if it does not have any convention or best practices built in to a technology it will take a significant amount of time just to get a developer brought up to speed on a project.
      </p>
      <p>
        In the Ember community there is also a very strong body of consultants, which makes it very easy to bring new people on board and also find people that can help an organization. It makes for new developers getting brought up to speed in a matter of hours and productive in a matter of one to two days. This can be the difference in shipping a product on time or having to push a release date.
      </p>
    </div>
  </div>
</div>

{{#if expandedGraphic}}
  {{graphic-modal closeModal="endZoom"}}
{{/if}}
