<div class="text-component">
  <div class="component-graphic">
    <img class="graphic" src="images/icon-scale.svg" {{action "expandGraphic"}}/>
  </div>
  <div class="component-info">
    <div class="component-title">
      <span>Evaulation of the Current Framework Landscape</span>
    </div>
    <div class="component-overview">
      <div class="state">
        <p>
          Oftentimes, technology decisions are driven primarily by engineering teams. This is great, because you don’t want to choose technically flawed technology, and your developers are the ones who will have to live with the decision day-to-day. At the same time, however, engineers tend to miss important business considerations, which can make or break the project long-term. In addition to the rubric your engineers use to evaluate frameworks from a technical perspective, make sure they also evaluate them from a business perspective:
        </p>
      </div>
    </div>
    <div class="component-expanded">
      {{#unless isExpanded}}
        <div class="component-expand" {{action "expandComponent"}}>
          <img class="expand-chevron" src="images/icon-chevron.svg" />
        </div>
      {{/unless}}
      {{#liquid-if isExpanded}}
        <p>
        </p>
        <p>
        </p>
        <p>
        </p>
        <p>
        </p>
        <p>
        </p>
        <p>
        </p>
        <div class="component-contract" {{action "expandComponent"}}>
          <img class="expand-chevron" src="images/icon-chevron.svg" />
        </div>
      {{/liquid-if}}
    </div>
  </div>
</div>

{{#if expandedGraphic}}
  {{graphic-modal closeModal="endZoom"}}
{{/if}}
