<div class="text-component">
  <div class="component-graphic">
    <img class="graphic" src="images/icon-rocket.svg"/>
  </div>
  <div class="component-info" {{action "expandComponent"}}>
    <div class="component-title">
      <span>Taking Advantage of the Web with Ember.js</span>
    </div>
    <div class="component-overview">
      <div class="current-state">
        <span>Enterprise Development:</span>
        <ul>
          <li>Maintaining multiple development teams for the same project</li>
          <li>Hiring for each technology to support all the platforms users use (Windows to Mac to Linux to Android to iOS to Windows Phone)</li>
          <li>Believe web applications lack the ease of use and reliability of native apps</li>
          <li>Waiting for Apple or Google to approve updates to apps</li>
        </ul>
      </div>
      <div class="ember-state">
        <span>Enterprise Development with Ember:</span>
        <ul>
          <li>Distribution – Instantly deploy changes to all supported platforms</li>
          <li>Instantly upgrade – no need to install an app to a device and no need to wait for app store approval</li>
          <li>Single code base – Target mobile, tablet and desktops devices regardless of OS</li>
          <li>Make web apps easily discoverable with the ability to place them on users’ home screen</li>
          <li>Reengagement – Send important updates and alerts with push notifications</li>
          <li>Support workers in the field experiencing intermittent network connection with offline support</li>
        </ul>
      </div>
    </div>
    <div class="component-expanded">
      {{#unless isExpanded}}
        <div class="component-expand">
          <img class="expand-chevron" src="images/icon-chevron.svg" />
        </div>
      {{/unless}}
      {{#liquid-if isExpanded}}
        <p>
          “Apps have become nearly irrelevant on desktops because the web experience is close to perfect, while apps are vitally important on phones because the web experience is dismal.” – Nilay Patel, The Mobile Web Sucks
        </p>
        <p>
          Native application development is usually current practice in enterprise. It takes multiple teams to maintain a single project, as the same application has to be developed for each platform by an individual team. Your organization has to hire specialists for each technology users are using, from Windows to Mac, Linux to Android, or iOS to Windows Phone. Once an application is built your organization has to wait for a Google or Apple to approve your application for distribution on their app stores, and then wait for approval for every update after that. If your organization happened to hire a consultant to develop for one platform and then leaves after it is built, it is highly likely that the application will not be maintained properly and may even become useless.
        </p>
        <p>
          In the ideal enterprise development environment, organizations should be able to solve these problems with distribution, reengagement, upgrading and maintaining multiple code bases. Enterprise should be able to instantly deploy changes to all of their supported platforms without waiting for approval. With a single codebase, enterprise should be able to target mobile, tablet and desktop devices no matter what operating system they run. Furthermore, these applications should be easily discoverable and able to be placed on users’ home screens while also being able to perform background functionality, like sending important updates and alerts with push notifications. Finally, these applications should support workers in the field with intermittent network activity with offline support.
        </p>
        <p>
          The belief is that web applications lack the ease of use and reliability of native applications, but all of these features are in fact possible and actually relatively easy to implement, and we can do so without making managing enterprise application development the nightmare it has become. Allow me to make the case for Progressive Web Applications for enterprise.
        </p>
        <div class="component-contract">
          <img class="expand-chevron" src="images/icon-chevron.svg" />
        </div>
      {{/liquid-if}}
    </div>
  </div>
</div>
