<div class="text-component">
  <div class="component-info" {{action "expandComponent"}}>
    <div class="component-title">
      <span>Open Governance: Keeping You in Control</span>
    </div>
    <div class="component-overview">
      <div class="current-state">
        <span>Current State:</span>
        <ul>
          <li>
            Although technically open source, your framework is controlled by a single company who can change their strategic direction at any moment, which could shut down development altogether
          </li>
          <li>
            There is no clear way to influence new features entering the technology
          </li>
        </ul>
      </div>
      <div class="ember-state">
        <span>The Ember Solution:</span>
        <ul>
          <li>
            No one company has unilateral control – the Ember framework is guided by a coalition of different companies whose core products are built using Ember
          </li>
          <li>
            Encourage the community to influence the technology – all technical and roadmap decisions are made through an open process for new features to enter the framework
          </li>
        </ul>
      </div>
    </div>
    <div class="component-expanded">
      {{#unless isExpanded}}
        <div class="component-expand">
          <img class="expand-chevron" src="images/icon-chevron.svg" />
        </div>
      {{/unless}}
      {{#liquid-if isExpanded}}
        <p>
          Building enterprise software is a significant investment of time and money. You need to know that your investment is safe. Therefore, it is important to have influence over your technology—the same goes for choosing a development framework.
        </p>
        <p>
          If your organization is following a technology in one direction and that technology decides it has a different strategic goal and suddenly the whole project shifts without you having any influence, then that technology is no longer of use to you and you must now find aa new solution. In this respect, it is imperative that an enterprise technology has an effective governance process for gathering comments and concerns from enterprise and the community that will influence new features entering the framework.
        </p>
        <p>
          Building a framework controlled by a single company is a risky proposition. They can change their strategic direction at any moment, making changes that negatively impact your application, or shutting down development altogether. Frameworks that are not true open source projects, those that are governed by a single body or corporation, do not always value the community’s overall opinion. These technologies follow their parent organization’s direction, leaving the framework susceptible to being shut down at any moment or moving away from the features that provide existing enterprise solutions – a huge risk for any organization.
        </p>
        <p>
          <i>“No one company could die and shoot down the Ember project”</i> – Yehuda Katz, EmberConf 2016
        </p>
        <p>
          Ember is different—it is guided by a coalition of different companies whose core products are built using the framework. No one company has unilateral control. You want your framework to have you in mind and not someone else. All technical and roadmap decisions are made through an open process, providing a consistent and controlled path for new features to enter the framework.
        </p>
        <p>
          If your team has a pressing need for a new feature that you would like to expedite, your engineers can participate in the open source community, contributing the code back so it will be shared and maintained. Additionally, if your team lacks the bandwidth or expertise to contribute themselves, there is a vibrant community of consultants with intimate knowledge of the framework and its most cutting-edge new features who can do this work for you.
        </p>
        <p>
          The more an enterprise invests in Ember and adopts its technologies, the more influence an organization can buy because Ember is truly an open source project. In David Heinemeier Hansson’s blog post in 2007 titled Why there’s no Rails Inc.  he shares his view the most effective governance policy for an open source project,
        </p>
        <p>
          <i>“I believe a Rails Inc consisting of a large group of core committers would have an unfair advantage in the training and consulting space — easily siphoning off all the best juice and leaving little for anything else. There are plenty of examples in our industry of that happening around open source tools.</i>
        </p>
        <p>
          <i>It's much more satisfying to see a broader pool of companies all competing on a level playing field.”</i>
        </p>
        <p>
          The Ember core team also holds this view close to heart, starting with their Request for Comments (RFC) process. As stated on the Ember.js GitHub page, “The ‘RFC’ (request for comments) process is intended to provide a consistent and controlled path for new features to enter the framework,” by giving the community an easy way to provide feedback. This ensures that comments and ideas from the entire global community are taken into consideration so the newest Ember features provide solutions for real-world applications.
        </p>
        <p>
          If you want to be sure that your investment in a technology is safe you need to have influence and be sure that your voice is heard in the direction of a technology. To that extent you need a technology with an open governance policy that keeps you in control.
        </p>
        <p>
          Every member of Ember’s core team is actively working on one or more production apps that use the Ember framework. The core team is forced to see the pros and cons of the framework in a “real world” setting, leading to further development for the good of the community.
        </p>
        <p>
          Ember has the most mature governance process in the market ensuring that enterprise is not left at the whim of its own technology. Your organization has to live with the choices made by the authors of the framework, those choices should be influenced by the enterprise itself as Ember has strongly adopted with its open RFC process, following in the footsteps of the Ruby on Rails framework.
        </p>
        <div class="component-contract">
          <img class="expand-chevron" src="images/icon-chevron.svg" />
        </div>
      {{/liquid-if}}
    </div>
  </div>
  <div class="component-graphic">
    <img class="graphic" src="images/icon-penandpaper.svg" {{action "expandGraphic"}}/>
  </div>
</div>

{{#if expandedGraphic}}
  {{graphic-modal closeModal="endZoom"}}
{{/if}}
