$avatar-border-width: 3px;
$avatar-border-radius: 5px;

$sidebar-avatar-width: 70px;
$sidebar-padding: 20px;
$sidebar-width: $sidebar-avatar-width + 2 * $sidebar-padding + 2 * $avatar-border-width;

$canvas-margin: 50px;
$card-summary-width: 300px;
$card-summary-min-height: 145px;

$font-size: 1em;

/* For ember-modal-dialog addon */
@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

@import "./fonts";
@import "./components/all";

html, body {
  margin: 0;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  overflow-y: scroll;

}

a, a:hover, a:focus, a:visited {
  text-decoration: none;
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
}

.main {
  position: fixed;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex-direction: column;
}
