.modal-container {
  display:flex;
  flex: 1;
  flex-direction: row;
  margin: 50px;
  border-radius: 0;
  box-shadow: none;
  padding: 0px;
  max-height: 80%;
}

.modal-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
