.modal-container {
  display:flex;
  flex: 1;
  flex-direction: row;
  margin: 50px;
  padding: 0px;
  max-height: 80%;
  background-color: white;
}

.modal-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .modal-graphic {
    width: 400px;
    height: 400px;
    background-color: white;
    padding: 40px;
  }

  .graphic-modal-close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 35px;
    right: 45px;
    cursor: pointer;
  }
}
