.icons {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  align-items: baseline;
  justify-content: center;
  padding: 10px 0;

  .icon-container {
    margin: 10px;
    cursor: pointer;
    width: 100px;
    height: 90px;
    padding-bottom: 10px;

    &:hover {
      opacity: 0.5
    }

    .icon {
      padding: 10px;
    }

    a {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: flex-end;
      margin-bottom: 5px;
    }
  }
}
