.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 500px;
    background-color: black;
    color: white;
    margin-bottom: 30px;

    @media screen and (max-height: 700px) {
      min-height: 470px;
    }

    @media screen and (max-height: 680px) {
      min-height: 440px;
    }

    @media screen and (max-height: 660px) {
      min-height: 410px;
    }

    @media screen and (max-height: 640px) {
      min-height: 400px;
    }

    @media screen and (max-height: 620px) {
      min-height: 380px;
    }

    @media screen and (max-height: 600px) {
      min-height: 370px;
    }

    @media screen and (max-height: 580px) {
      min-height: 360px;
    }

    @media screen and (max-height: 560px) {
      min-height: 340px;
    }

    @media screen and (max-height: 540px) {
      min-height: 310px;
    }

    @media screen and (max-height: 520px) {
      min-height: 280px;
    }

    @media screen and (max-height: 500px) {
      min-height: 250px;
    }

    img {
      width: 200px;
    }

    span {
      font-weight: 200;
    }
  }

  .end {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100px;
    background-color: black;
    margin-top: 40px;
    padding: 20px;

    .end-title {
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      margin: 20px 0 10px 0;
      img {
        width: 100px;
      }
      span {
        font-weight: 200;
      }
    }
    .name {
      display: flex;
      color: white;
      font-weight: 200;
      align-items: center;
      justify-content: center;

    }
  }
}
