.text-component {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  padding: 20px;
  border-bottom: 2px solid #e2e2e2;
  width: 80%;
  margin: 20px;

  @media screen and (max-width: 1025px) {
    flex-wrap: wrap;
  }

  .component-graphic {
    align-self: center;
    margin-right: 20px;

    .graphic {
      width: 400px;
      height: 200px;
      cursor: pointer;
    }

  }

  .component-info {
    display: flex;
    flex-direction: column;
    align-items: center;


    .component-title {
      font-size: $font-size + 1;
      margin-bottom: 30px;
    }

    .component-overview {
      display: flex;

      span {
        font-size: $font-size + .1;
      }

      .current-state {
        width: 50%;
      }
      .ember-state {
        width: 50%;
      }
    }
  }
}
.component-expanded {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;

  .component-expand {
    img {
      width: 40px;
      height: 40px;
      transform: rotate(90deg);
      cursor: pointer;
    }
  }
  .component-contract {
    img {
      width: 40px;
      height: 40px;
      transform: rotate(-90deg);
      cursor: pointer;
    }
  }
}
